{% extends "base.html" %}
{% load static %}
{% block container %}
    <section id="catalogPage">
        {% if albums %}
            <h1>All Albums</h1>
            {% for album in albums %}
                <div class="card-box">
                    <img src="{{ album.image_url }}" alt="Cover Image">
                    <div></div>
                        <div class="text-center">
                            <p class="name">Name: {{ album.name }}</p>
                            <p class="artist">Artist: {{ album.artist }}</p>
                            <p class="genre">Genre: {{ album.genre }}</p>
                            <p class="price">Price: ${{ album.price }}</p>
                        </div>
                        <div class="btn-group">
                            <a href="{% url "album-details" album.id %}">Details</a>
                        </div>

                </div>
            {% endfor %}
        {% else %}
            <p>No Albums in Catalog!</p>
        {% endif %}
    </section>
{% endblock %}
